body {
    background-color: blanchedalmond;
}
/* give navigation bar a rounded border */
nav {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
/* center all h1 headings */
h1 {
    text-align: center;
}
