@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Smokum&display=swap');

body {
    background-color: rgb(242, 255, 235);
    font-family: 'Barlow', sans-serif;
}
/* nav bar is inside header */
header {
    /* center */
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    /* rounded border */
    border: 2px solid rgb(31, 81, 31);
    border-radius: 10px;
    padding: 0px;
    /* keep at top */
    position: sticky;
    top: 10px;
    background-color: rgba(230, 255, 230, .95);
    font-family: 'Smokum';
}

nav {
    text-align: center;
    /* center the nav bar in the header */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 0px;
}
/* center all h1 headings */
h1 {
    text-align: center;
}
nav ul {
    list-style-type: none;
    font-weight: bold;
}
li {
    display: inline;
    margin: 0px 20px 120px 20px;
}
li a {
    text-decoration: none;
}
/* class for logo image */
.logo {
    height: 56px;
    width: 50px;
    margin: 0px;
    float: left;
    /* move up to fit */
    position: relative;
    bottom: 20px;
}
.column {
    /* box-sizing: border-box; */
    float: left;
    width: 33%;
    background-color: slateblue;
    border: 1px solid black;
}
section:after {
    clear: both;
}